* {
    margin: 0;
    padding: 0;
}

/* heading */

.header {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 20px;
}

/* Navgiation Bar*/

nav {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}

.nav {
    flex: 1;
    text-align: right;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav ul li::after {
    content:'';
    width: 0%;
    height: 5px;
    background-color: lightblue;
    display: block;
    margin: auto;
    transition: 1s;
}

.nav ul li:hover::after {
    width: 100%;
}


/*About Me Section */

.aboutme {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.portrait {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    float: left;
    margin: 150px 50px 0px 220px;
}

img {
    border-radius: 50px;
    width: 350px;
    height: 500px;
}

#aboutme-p {
    color: black;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px;
    margin: 5% 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Work Section */

.work {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin: 10px 0;
}

.work-p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.work-column {
    flex-basis: 31%;
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.work-column:hover {
    box-shadow: 0 0 20px 0px grey;
    transition: 1s;
}

#project1


/* Contact Me */

.contactme {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

/* Form Section */

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

label {
    display: block;
    margin-bottom: 8px;
}

input,
    select,
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
}

button {
    background-color: lightblue;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}


/* Footer */

footer {
    background-color: lightgrey;
    color: black;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

/* Media Query */




@media(max-width: 700px) {

    .portrait img {
        align-content: center;
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .nav ul li {
        flex-direction: row;
        background-color: lightblue;
        color: #fff;
    }
}
